@inlcude 'compass';
@inlcude 'compass/reset';
@inlcude 'compass/css3';

@import url(http://fonts.googleapis.com/css?family=Voltaire);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:700,400);

html,body{
	overflow: hidden;
	background: #000;
	color:#fff;
}

#page{
	overflow: auto;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

#gallery{
	position: fixed;
	top:40px;
	right:40px;
	bottom:40px;
	left:40px;
	display: none;
	background: #fff;
}